celery==5.5.3
fastapi==0.121.0
Flask==3.1.2
flask_cors==6.0.1
imbalanced_learn==0.14.0
imblearn==0.0
joblib==1.5.2
matplotlib==3.10.7
mlflow==3.5.1
mlflow_skinny==3.5.1
mlflow_tracing==3.5.1
numpy==2.3.4
pandas==2.3.3
prometheus_client==0.22.1
prometheus_fastapi_instrumentator==7.1.0
pydantic==2.12.4
python_json_logger==3.3.0
scikit_learn==1.7.2
seaborn==0.13.2
shap==0.49.1
SQLAlchemy==2.0.44
