fastapi==0.95.2
uvicorn[standard]==0.22.0
celery[redis]==5.3.1
redis==4.5.4
SQLAlchemy==2.0.22
psycopg2-binary==2.9.7
python-dotenv==1.0.1
joblib==1.3.2
scikit-learn==1.6.1
pydantic==1.10.10
prometheus-fastapi-instrumentator==6.1.0
python-json-logger==2.0.7
prometheus-client==0.16.0

# FastAPI and Web Server
fastapi
uvicorn[standard]
gunicorn

# Asynchronous Tasks and Queue
celery[redis]
redis

# Database (for SHAP storage)
psycopg2-binary
sqlalchemy

# MLOps and Model
scikit-learn
pandas
numpy==1.26.4
shap
httpx
prometheus-fastapi-instrumentator
python-json-logger

uuid