receivers:
  otlp:
    protocols:
      grpc: {}
      http: {}

exporters:
  logging:
    loglevel: info
  jaeger:
    endpoint: "http://jaeger:14268/api/traces"

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [logging]
    metrics:
      receivers: [otlp]
      exporters: [logging]
